<div class="bg-dark py-5 d-flex" id="techStack">
  <div
    class="container tech-container d-flex flex-column justify-content-center align-items-center"
  >
    <h2 class="display-5 fw-bold text-center text-white">Tech Stack</h2>
    <div class="col mt-2 mb-2 animate__animated animate__fadeInDownBig">
      <!-- angular -->
      <img src="/assets/icons/angular.png" alt="angular" class="tech-icons" />
      <!-- nodejs -->
      <img src="/assets/icons/nodejs.png" alt="nodejs" class="tech-icons" />
      <!-- html -->
      <img src="/assets/icons/html.png" alt="html" class="tech-icons" />
      <!-- css -->
      <img src="/assets/icons/css.png" alt="css" class="tech-icons" />
      <!-- javascript -->
      <img src="/assets/icons/javascript.png" alt="javascript" class="tech-icons" />
      <!-- sass -->
      <img src="/assets/icons/sass.png" alt="sass" class="tech-icons" />
      <!-- mongodb -->
      <img src="/assets/icons/mongodb.png" alt="mongodb" class="tech-icons" />
      <!-- firebase -->
      <img src="/assets/icons/firebase.png" alt="firebase" class="tech-icons" />
      <!-- bootstrap -->
      <img src="/assets/icons/bootstrap.png" alt="bootstrap" class="tech-icons" />
      <!-- typescript -->
      <img src="/assets/icons/typescript.png" alt="typescript" class="tech-icons" />
      <!-- nextjs -->
      <img src="/assets/icons/nextjs.png" alt="nextjs" class="tech-icons" />
      <!-- tailwind -->
      <img src="/assets/icons/tailwind.png" alt="tailwind" class="tech-icons" />
       <!-- git -->
       <img src="/assets/icons/git.png" alt="git" class="tech-icons" />
          <!-- ionic -->
          <img src="/assets/icons/ionic.png" alt="git" class="tech-icons" />
    </div>
  </div>
</div>

<!--








      <i class="fa-brands fa-github" style="color: #e57010"></i>

      <img
        src="/assets/icons/logo-ionic.svg"
        class="ionic"
        alt="ionic"
      />-->
