h2 {
  font-weight: bold;
  font-size: 30px;
}

.tech-icons {
  width: 70px;
  height: 70px;
  margin-bottom: 27px;
  margin-left: 20px;
}

/* Animation for Tech Icons */

.tech-container i {
  transition: transform 0.5s ease;
}

.tech-container i:hover {
  transform: scale(1.2);
}

.tech-container img {
  transition: transform 0.5s ease;
}

.tech-container img:hover {
  transform: scale(1.2);
}

/* @media all and (max-width: 600px) {
  .tech-container {
    display: flex;
    width: 100%;
    padding: 0;
  }
} */

/* .tech-container {
  width: 60%;
} */
