<div class="bg-dark py-5 d-flex" id="techStack">
  <div
    class="container tech-container d-flex flex-column justify-content-center align-items-center"
  >
    <h2 class="display-5 fw-bold text-center text-white">Tech Stack</h2>
    <div class="col mt-2 mb-2 animate__animated animate__fadeInDownBig">
      <i class="fa-brands fa-angular" style="color: #fe0606"></i>
      <i class="fa-brands fa-html5" style="color: #cc5624"></i>
      <i class="fa-brands fa-css3-alt" style="color: #075ef2"></i>
      <i class="fa-brands fa-js" style="color: #e9ed12"></i>
      <i class="fa-brands fa-node" style="color: #166024"></i>
      <i class="fa-brands fa-sass" style="color: #c21eb4"></i>
      <!-- mongodb -->
      <i><img src="/assets/mongo.png" class="mongodb" alt="mongo" /></i>
      <i
        ><img
          src="https://camo.githubusercontent.com/3e5344a2965e786497ceb575ad67d2c64d412bb9683da05791edf424a0e40734/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f66697265626173652f66697265626173652d69636f6e2e737667"
          alt="firebase"
          class="firebase"
      /></i>
      <i class="fa-brands fa-bootstrap" style="color: #6e10cb"></i>
      <i>
        <img
          src="/assets/typescript.png"
          class="typescript"
          alt="typescript"
        />
      </i>
      <i> <img src="/assets/next-js.svg" class="nextjs" alt="nextjs" /> </i>
      <i>
        <img src="/assets/tailwind.png" class="tailwind" alt="tailwind" />
      </i>
      <i class="fa-brands fa-github" style="color: #e57010"></i>
    </div>
  </div>
</div>
