<div class="main-content">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    aria-label="Eighth navbar example"
  >
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="/assets/logo1.png"
          class="logo"
          alt="Logo Valerio Paradiso frontend"
        />
      </a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample07"
        aria-controls="navbarsExample07"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#myProjects">My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#techStack">Tech Stack</a>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="openContactDialog()">
              Contact
            </button>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.linkedin.com/in/valerioparadiso/"
              target="_blank"
            >
              <i
                class="fa-brands social-links fa-linkedin"
                style="color: #0a66c2"
              ></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/valerioprds"
              target="_blank"
            >
              <i
                class="fa-brands social-links fa-github"
                style="color: #e57010"
              ></i>
            </a>
          </li>
          <!-- Add other social links here if needed -->
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid g-0 position-relative">
    <img
      style="max-height: 600px; object-fit: cover"
      class="img-fluid w-100 min-vh-25 min-vh-md-50"
      src="/assets/programming.png"
      alt="frontend developer"
    />
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center"
      style="background: rgba(0, 0, 0, 0.5)"
    >
      <div class="text-center text-white p-3 custom-div">
        <img
          src="/assets/linkedin-picture.jpeg"
          alt="Valerio Paradiso"
          class="img-fluid rounded-circle custom-img"
        />

        <h1 class="display-4">Valerio Paradiso</h1>
        <h2>Professional Frontend Developer</h2>
      </div>
    </div>
  </div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">About me</h1>
      <div class="mx-auto">
        <p class="m-4">
          🚀 Valerio Paradiso, Frontend Developer Extraordinaire: Leveraging
          Angular & TypeScript to build web magic. 🌐 With a knack for
          responsive design and a flair for user-friendly interfaces, I turn
          code into user delight. My journey from the travel industry to tech
          wizardry at IT Academy Barcelona Activa showcases adaptability and a
          knack for continuous learning. 💡 Innovator Alert: Check out 'PeeMap'
          - my brainchild, a user-centric web app guiding you to Barcelona's
          public restrooms. 🤝 Team Player & Solo Pathfinder: I thrive in
          collaborative teams and excel in solo ventures, always aiming for peak
          performance and user satisfaction. 🌳 Beyond Code: When not
          programming, you'll find me hiking, camera in hand, or diving into the
          latest tech trends. 💬 Multilingual Maestro: Fluent in Italian,
          English, Spanish, and French – communication barriers? What's that! 🔍
          On a Quest: Seeking to blend creativity with technology, making the
          web a more enjoyable place, one line of code at a time. Let’s connect
          and create digital wonders!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a
            href="/assets/ENG Valerio Paradiso Frontend CV.pdf"
            download="Valerio_Paradiso_CV_ENG"
          >
            <button
              type="button"
              class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold"
            >
              Download my CV
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- tech stack -->
  <div class="bg-dark py-5 d-flex" id="techStack">
    <div
      class="container tech-container d-flex flex-column justify-content-center align-items-center"
    >
      <h2 class="display-5 fw-bold text-center text-white">Tech Stack</h2>
      <div class="col mt-2 mb-2">
        <i class="fa-brands fa-angular" style="color: #fe0606"></i>
        <i class="fa-brands fa-html5" style="color: #cc5624"></i>
        <i class="fa-brands fa-css3-alt" style="color: #075ef2"></i>
        <i class="fa-brands fa-js" style="color: #e9ed12"></i>
        <i class="fa-brands fa-node" style="color: #166024"></i>
        <i class="fa-brands fa-sass" style="color: #c21eb4"></i>
        <!-- mongodb -->
        <img src="/assets/mongo.png" class="mongodb" alt="mongo" />
        <i class="fa-brands fa-bootstrap" style="color: #6e10cb"></i>
        <img src="/assets/typescript.png" class="typescript" alt="typescript" />
        <img src="/assets/next-js.svg" class="nextjs" alt="nextjs" />
        <img src="/assets/tailwind.png" class="tailwind" alt="tailwind" />
        <i class="fa-brands fa-github" style="color: #e57010"></i>
      </div>
    </div>
  </div>
  <!-- Projects Section -->
  <div class="bg-dark py-5" id="myProjects">
    <div class="container">
      <h2 class="display-5 fw-bold text-center text-white">My Projects</h2>
      <p class="text-center mb-4 text-secondary">
        Here's a selection of some recent work. For more projects,
        <a href="https://github.com/valerioprds" target="_blank">click here</a>.
      </p>

      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <!-- Project 1 -->
        <div class="col">
          <div class="card h-100 bg-secondary text-white">
            <img src="/assets/peemap.png" class="card-img-top" alt="PeeMap" />

            <div class="card-body">
              <h5 class="card-title">PeeMap</h5>
              <p class="card-text">
                Discover PeeMap, the ultimate solution for urban dwellers and
                travelers alike! This innovative app effortlessly guides you to
                the nearest public toilets, ensuring you're never inconvenienced
                again. PeeMap stands out with its user-friendly interface and
                valuable features like real-time directions, cleanliness
                ratings, and the ability to add new toilet locations. PeeMap
                harnesses the power of Angular for a dynamic frontend, Mapbox GL
                for seamless map navigation, AngularFire for secure user
                authentication and data handling, and Material Design for an
                attractive, responsive user interface. We've integrated MongoDB
                for robust data management and Mapbox Directions to pinpoint the
                best routes to your destination. Join our growing community,
                contribute to public hygiene, and explore the city with
                confidence. PeeMap - navigating you to comfort, one restroom at
                a time! 🚽✨
              </p>
            </div>
            <div class="technologies m-3">
              <span class="badge text-bg-danger text-dark">#Angular</span>
              <span class="badge text-bg-info text-dark">#TypeScript</span>
              <span class="badge text-bg-warning text-dark">#Bootstrap</span>
              <span class="badge text-bg-success text-dark">#MongoDb</span>
              <span class="badge text-bg-primary text-dark">#Mapbox</span>
              <span class="badge text-dark" style="background-color: orangered"
                >#Firebase</span
              >
              <span class="badge text-bg-danger text-dark"
                >#AngularMaterial</span
              >
              <span class="badge text-dark" style="background-color: blue"
                >#Css</span
              >
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/valerioprds/PeeMap"
                class="btn btn-success fw-bold"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i> Github
              </a>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="col">
          <div class="card h-100 bg-secondary text-white">
            <img
              src="/assets/itAcademy.png"
              class="card-img-top"
              alt="PeeMap"
            />

            <div class="card-body">
              <h5 class="card-title">Ita Challenges</h5>
              <p class="card-text">
                Ita Challenges is a code challenge page for students of the It
                Academy of BarcelonaActiva. The goal is to practice coding
                through challenges that are divided by levels of difficulty and
                type of language. Once the challenge is chosen, the details of
                that challenge, the code editor to write the answer, related
                challenges, and, once the solution is submitted, solutions to
                this challenge made by other participants will be shown. Each
                user will receive a score for their response and will be able to
                track their progress on their profile.
              </p>
            </div>
            <div class="technologies m-3">
              <span class="badge bg-danger text-dark">#Angular</span>
              <span class="badge bg-info text-dark">#TypeScript</span>
              <span class="badge bg-warning text-dark">#Bootstrap</span>
              <span class="badge text-dark" style="background-color: violet"
                >#Scss</span
              >
              <span
                class="badge text-dark"
                style="background-color: rgb(223, 158, 68)"
                >#CodeMirror</span
              >
              <span
                class="badge text-dark"
                style="background-color: rgb(8, 28, 241)"
                >#Testing
              </span>
              <span
                class="badge text-dark"
                style="background-color: rgb(1, 93, 1)"
                >#NodeJs</span
              >
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/IT-Academy-BCN/ita-challenges-frontend"
                class="btn btn-success fw-bold"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i> Github
              </a>
            </div>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="col">
          <div class="card h-100 bg-secondary text-white">
            <img src="/assets/movies.png" class="card-img-top" alt="PeeMap" />

            <div class="card-body">
              <h5 class="card-title">Movies Search App</h5>
              <p class="card-text">
                Discover the world of cinema with the Movies Search App, an
                Angular-based platform for movie enthusiasts! Search and explore
                a wide range of films, add favourites to your personalized list,
                and annotate them with your own comments. Ideal for both avid
                cinephiles and casual viewers, our app offers an intuitive,
                user-friendly experience for organizing and enjoying your movie
                collection. Join us and elevate your movie-watching journey!
              </p>
            </div>
            <div class="technologies m-3">
              <span class="badge bg-danger text-dark">#Angular</span>
              <span class="badge bg-info text-dark">#TypeScript</span>
              <span class="badge bg-warning text-dark">#Bootstrap</span>
              <span
                class="badge bg-warning text-dark"
                style="background-color: rgb(93, 24, 1)"
                >#NGX Toastr</span
              >
              <span
                class="badge text-dark"
                style="background-color: rgb(8, 28, 241)"
                >#Testing
              </span>
              <span
                class="badge text-dark"
                style="background-color: rgb(8, 241, 55)"
                >#ZoneJS
              </span>
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/valerioprds/movies-search-app"
                class="btn btn-success fw-bold"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i> Github
              </a>
            </div>
          </div>
        </div>

        <!-- Project 4 -->
        <div class="col">
          <div class="card h-100 bg-secondary text-white">
            <img src="/assets/todolist.png" class="card-img-top" alt="PeeMap" />

            <div class="card-body">
              <h5 class="card-title">To Do List</h5>
              <p class="card-text">
                This Angular 17 To-Do List app allows users to manage tasks
                efficiently with features for adding, deleting, and marking
                tasks as completed. It utilizes Angular Material for a rich UI
                and reactive forms for seamless input handling. The app is
                structured with main, header, and task-specific components, each
                with dedicated services for task management. It's designed for
                scalability and maintainability, embodying modern web app best
                practices.
              </p>
            </div>
            <div class="technologies m-3">
              <span class="badge bg-danger text-dark">#Angular</span>
              <span class="badge bg-info text-dark">#TypeScript</span>
              <span class="badge bg-warning text-dark">#Bootstrap</span>
              <span class="badge text-bg-danger text-dark"
                >#AngularMaterial</span
              >
              <span
                class="badge text-dark"
                style="background-color: rgb(8, 28, 241)"
                >#Testing
              </span>
              <span class="badge text-dark" style="background-color: violet"
                >#Scss</span
              >
            </div>

            <div class="card-footer">
              <a
                href="https://github.com/valerioprds/to-do-list"
                class="btn btn-success fw-bold"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i> Github
              </a>
            </div>
          </div>
        </div>

        <!-- Project 5 -->
        <div class="col">
          <div class="card h-100 bg-secondary text-white">
            <img src="/assets/hotels.png" class="card-img-top" alt="PeeMap" />

            <div class="card-body">
              <h5 class="card-title">Hotel Finder App</h5>
              <p class="card-text">
                The Hotel App is a Next.js-based web application for exploring
                Spain's diverse attractions. It offers tailor-made travel
                packages, highlighting Spain's rich culture, historic landmarks,
                and stunning landscapes. Users can immerse themselves in
                experiences from Barcelona's artistic streets to Madrid's grand
                palaces and Torremolinos' sun-kissed beaches. The app features a
                user-friendly interface, built with React, Tailwind CSS, and
                Emotion, and uses a JSON Server for data handling. Ideal for
                planning a dream Spanish adventure, it showcases travel packages
                with detailed descriptions and pricing, providing a
                comprehensive guide for travelers seeking to discover Spain's
                wonders.
              </p>
            </div>
            <div class="technologies m-3">
              <span class="badge bg-danger text-dark">#Angular</span>
              <span class="badge bg-info text-dark">#TypeScript</span>
              <span class="badge bg-warning text-dark">#Bootstrap</span>
              <span class="badge bg-primary text-dark">#NextJs</span>
              <span class="badge text-dark" style="background-color: #075ef2"
                >#React</span
              >
              <span class="badge text-dark" style="background-color: #699cf5"
                >#Tailwind CSS</span
              >
              <span class="badge bg-light text-dark">#UI Libraries</span>
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/valerioprds/hotel-finder-app"
                class="btn btn-success fw-bold"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i> Github
              </a>
            </div>
          </div>
        </div>

        <!-- Project 6 -->
        <div class="col">
          <div class="card h-100 bg-secondary text-white">
            <img src="/assets/agua.avif" class="card-img-top" alt="PeeMap" />

            <div class="card-body">
              <h5 class="card-title">Hackathon Jump2Digital 2023</h5>
              <p class="card-text">
                Participating in a 12-hour hackathon, I contributed to
                developing an innovative tech solution, demonstrating my ability
                to perform under pressure. Our project, which secured third
                place in a competitive field, showcased not only my technical
                skills in Angular, TypeScript, CSS, and Github but also my quick
                problem-solving and adaptability. My involvement in
                decision-making, effective collaboration, and agile development
                practices underlines my capacity to contribute significantly to
                projects from concept to completion in dynamic IT environments.
                This experience emphasizes my commitment to innovation,
                technical excellence, and teamwork in the tech industry.
              </p>
            </div>
            <div class="technologies m-3">
              <span class="badge bg-danger text-dark">#Angular</span>
              <span class="badge bg-info text-dark">#TypeScript</span>
              <span class="badge bg-warning text-dark">#Bootstrap</span>
              <span class="badge bg-primary text-dark">#RxJS</span>
              <span
                class="badge text-dark"
                style="background-color: rgb(8, 28, 241)"
                >#Testing
              </span>
              <span
                class="badge text-dark"
                style="background-color: rgb(8, 241, 55)"
                >#ZoneJS
              </span>
              <span class="badge text-dark" style="background-color: blue"
                >#Css</span
              >
            </div>
            <div class="card-footer">
              <a
                href="https://github.com/valerioprds/Hackathon-Jump2Digital-2023"
                class="btn btn-success fw-bold"
                target="_blank"
              >
                <i class="fa-brands fa-github"></i> Github
              </a>
            </div>
          </div>
        </div>

        <!-- Similar structure for other projects -->
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark text-light py-3">
  <div class="container text-center">
    <!-- Social Links -->
    <div>
      <a
        href="https://www.linkedin.com/in/valerioparadiso/"
        target="_blank"
        class="text-light mx-2"
      >
        <i
          class="fa-brands social-links fa-linkedin"
          style="color: #0a66c2"
        ></i>
      </a>
      <a
        href="https://github.com/valerioprds"
        target="_blank"
        class="text-light mx-2"
      >
        <i class="fa-brands social-links fa-github" style="color: #e57010"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="mt-3">
      <p>© 2024 Valerio Paradiso. All Rights Reserved.</p>
    </div>
  </div>
</footer>
