<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  aria-label="Eighth navbar example"
>
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        src="/assets/logo1.png"
        class="logo"
        alt="Logo Valerio Paradiso frontend"
    /></a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample07"
      aria-controls="navbarsExample07"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample07">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="openContactDialog()">
            Contact
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid g-0 position-relative">
  <img
    style="max-height: 600px; object-fit: cover"
    class="img-fluid w-100 min-vh-25 min-vh-md-50"
    src="/assets/programming.png"
    alt="frontend developer"
  />
  <div
    class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center"
    style="background: rgba(0, 0, 0, 0.5)"
  >
    <div class="text-center text-white p-3 custom-div">
      <img
        src="/assets/linkedin-picture.jpeg"
        alt="Valerio Paradiso"
        class="img-fluid rounded-circle custom-img"
      />

      <h1 class="display-4">
       Valerio Paradiso
      </h1>
      <h2>Professional Frontend Developer</h2>
    </div>
  </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">About me</h1>
    <div class="mx-auto">
      <p class="fs-5 m-4">
        🚀 Valerio Paradiso, Frontend Developer Extraordinaire: Leveraging
        Angular & TypeScript to build web magic. 🌐 With a knack for responsive
        design and a flair for user-friendly interfaces, I turn code into user
        delight. My journey from the travel industry to tech wizardry at IT
        Academy Barcelona Activa showcases adaptability and a knack for
        continuous learning. 💡 Innovator Alert: Check out 'PeeMap' - my
        brainchild, a user-centric web app guiding you to Barcelona's public
        restrooms. 🤝 Team Player & Solo Pathfinder: I thrive in collaborative
        teams and excel in solo ventures, always aiming for peak performance and
        user satisfaction. 🌳 Beyond Code: When not programming, you'll find me
        hiking, camera in hand, or diving into the latest tech trends. 💬
        Multilingual Maestro: Fluent in Italian, English, Spanish, and French –
        communication barriers? What's that! 🔍 On a Quest: Seeking to blend
        creativity with technology, making the web a more enjoyable place, one
        line of code at a time. Let’s connect and create digital wonders!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold"
        >
          Download my CV
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Projects Section -->
<div class="bg-dark py-5">
  <div class="container">
    <h2 class="display-5 fw-bold text-center text-white">My Projects</h2>
    <p class="text-center mb-4 text-secondary">
      Here's a selection of some recent work. For more projects,
      <a href="#">click here</a>.
    </p>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      <!-- Project 1 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/peemap.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">PeeMap</h5>
            <p class="card-text">
              Navigate to the nearest public toilet swiftly! Featuring
              user-auth, interactive mapping, cleanliness ratings, and more.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/PeeMap"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/itAcademy.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">Ita Challenges</h5>
            <p class="card-text">
              Ita Challenges is a code challenge page for students of the It
              Academy of BarcelonaActiva. The goal is to practice coding through
              challenges that are divided by levels of difficulty and type of
              language. Once the challenge is chosen, the details of that
              challenge, the code editor to write the answer, related
              challenges, and, once the solution is submitted, solutions to this
              challenge made by other participants will be shown. Each user will
              receive a score for their response and will be able to track their
              progress on their profile.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/IT-Academy-BCN/ita-challenges-frontend"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 3 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/movies.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">Movies Search App</h5>
            <p class="card-text">
              Discover the world of cinema with the Movies Search App, an
              Angular-based platform for movie enthusiasts! Search and explore a
              wide range of films, add favourites to your personalized list, and
              annotate them with your own comments. Ideal for both avid
              cinephiles and casual viewers, our app offers an intuitive,
              user-friendly experience for organizing and enjoying your movie
              collection. Join us and elevate your movie-watching journey!
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/movies-search-app"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 4 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/todolist.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">To Do List</h5>
            <p class="card-text">
              This Angular 17 To-Do List app allows users to manage tasks
              efficiently with features for adding, deleting, and marking tasks
              as completed. It utilizes Angular Material for a rich UI and
              reactive forms for seamless input handling. The app is structured
              with main, header, and task-specific components, each with
              dedicated services for task management. It's designed for
              scalability and maintainability, embodying modern web app best
              practices.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/to-do-list"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 5 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/hotels.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">Hotel Finder App</h5>
            <p class="card-text">
              The Hotel App is a Next.js-based web application for exploring
              Spain's diverse attractions. It offers tailor-made travel
              packages, highlighting Spain's rich culture, historic landmarks,
              and stunning landscapes. Users can immerse themselves in
              experiences from Barcelona's artistic streets to Madrid's grand
              palaces and Torremolinos' sun-kissed beaches. The app features a
              user-friendly interface, built with React, Tailwind CSS, and
              Emotion, and uses a JSON Server for data handling. Ideal for
              planning a dream Spanish adventure, it showcases travel packages
              with detailed descriptions and pricing, providing a comprehensive
              guide for travelers seeking to discover Spain's wonders.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger">#NextJs</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge bg-danger">#Angular</span>
            <span class="badge bg-info">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/hotel-finder-app"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Similar structure for other projects -->
    </div>
  </div>
</div>
