.card {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0 20px #4caf50;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 200px;
}

.card-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  animation: fadeIn 1s ease-in;
}

.card-title:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
p {
  font-size: 20px;
}

/* Swing Animation for Cards on Hover */


.card:hover {
  animation: swing 0.5s ease;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.card.fade-in {
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
