<div class="bg-dark py-5" id="myProjects">
  <div class="container">
    <h2 class="display-5 fw-bold text-center text-white">My Projects</h2>
    <p class="text-center mb-4 text-secondary">
      Here's a selection of some recent work. For more projects,
      <a href="https://github.com/valerioprds" target="_blank">click here</a>.
    </p>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      <!-- project 1 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img
            src="/assets/product-admin-app1.jpg"
            class="card-img-top"
            alt="PeeMap"
          />

          <div class="card-body">
            <h5 class="card-title">Product Admin App</h5>
            <p class="card-text">
              Product Admin App is a mobile sales tracking app designed for
              efficient inventory management. It allows users to add, edit, and
              delete product entries with fields for name, price, and units
              sold, including image uploads from devices or camera captures.
              Built with Angular 17, Ionic 7, and Firebase 10.9, it offers
              seamless user registration and real-time updates. The app
              integrates Capacitor for native device features, ensuring a
              responsive and intuitive user experience. Perfect for businesses
              seeking streamlined product administration.
            </p>

            <br />
            <p>Check the video below to see how the app works:</p>

            <video width="320" height="240" controls>
              <source
                src="/assets/product-admin-app-video.mp4"
                type="video/mp4"
              />
              <source
                src="/assets/product-admin-app-video.mp4"
                type="video/ogg"
              />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="technologies m-3">
            <span class="badge text-bg-danger text-dark">#Angular</span>
            <span class="badge text-bg-info text-dark">#Ionic </span>
            <span class="badge text-bg-warning text-dark">#RxJS</span>
            <span class="badge text-bg-warning text-dark">#Capacitor </span>

            <span class="badge text-bg-danger text-dark">#Firebase</span>
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/product-admin-app.git"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>
      <!-- project 2 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img
            src="/assets/fotografo.png"
            class="card-img-top"
            alt="modestofotografo"
          />

          <div class="card-body">
            <h5 class="card-title">Fotografo de bodas Navarra</h5>
            <p class="card-text">
              Welcome to our Modesto's Wedding Photography Portfolio, a digital
              showcase where love stories come to life. This portfolio, crafted
              with Angular, TypeScript, and Bootstrap, offers an immersive
              viewing experience across all devices. As a programmer, I've
              merged technical innovation with Modestos's artistry to create a
              seamless, responsive gallery that captures the essence of each
              unique celebration. Explore the moments of joy and unity at
              <span> <a href="https://modestofotografo.com/"></a></span>. Here,
              every click leads you closer to the story you wish to tell or
              relive. Discover the beauty of captured emotions and the elegance
              of storytelling through photography.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge text-bg-danger text-dark">#Angular</span>
            <span class="badge text-bg-info text-dark">#TypeScript</span>
            <span class="badge text-bg-warning text-dark">#Bootstrap</span>
            <span
              class="badge text-dark"
              style="background-color: rgb(121, 20, 165)"
              >#SweetAlert</span
            >

            <span class="badge text-bg-danger text-dark">#AngularMaterial</span>
            <span class="badge text-dark" style="background-color: blue"
              >#Scss</span
            >
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/fotografo-de-bodas.git"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>
      <!-- Project 3 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/peemap.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">PeeMap</h5>
            <p class="card-text">
              Discover PeeMap, the ultimate solution for urban dwellers and
              travelers alike! This innovative app effortlessly guides you to
              the nearest public toilets, ensuring you're never inconvenienced
              again. PeeMap stands out with its user-friendly interface and
              valuable features like real-time directions, cleanliness ratings,
              and the ability to add new toilet locations. PeeMap harnesses the
              power of Angular for a dynamic frontend, Mapbox GL for seamless
              map navigation, AngularFire for secure user authentication and
              data handling, and Material Design for an attractive, responsive
              user interface. We've integrated MongoDB for robust data
              management and Mapbox Directions to pinpoint the best routes to
              your destination. Join our growing community, contribute to public
              hygiene, and explore the city with confidence. PeeMap - navigating
              you to comfort, one restroom at a time! 🚽✨
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge text-bg-danger text-dark">#Angular</span>
            <span class="badge text-bg-info text-dark">#TypeScript</span>
            <span class="badge text-bg-warning text-dark">#Bootstrap</span>
            <span class="badge text-bg-success text-dark">#MongoDb</span>
            <span class="badge text-bg-primary text-dark">#Mapbox</span>
            <span class="badge text-dark" style="background-color: orangered"
              >#Firebase</span
            >
            <span class="badge text-bg-danger text-dark">#AngularMaterial</span>
            <span class="badge text-dark" style="background-color: blue"
              >#Css</span
            >
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/PeeMap"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 4 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/itAcademy.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">Ita Challenges</h5>
            <p class="card-text">
              Ita Challenges is a code challenge page for students of the It
              Academy of BarcelonaActiva. The goal is to practice coding through
              challenges that are divided by levels of difficulty and type of
              language. Once the challenge is chosen, the details of that
              challenge, the code editor to write the answer, related
              challenges, and, once the solution is submitted, solutions to this
              challenge made by other participants will be shown. Each user will
              receive a score for their response and will be able to track their
              progress on their profile.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger text-dark">#Angular</span>
            <span class="badge bg-info text-dark">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge text-dark" style="background-color: violet"
              >#Scss</span
            >
            <span
              class="badge text-dark"
              style="background-color: rgb(223, 158, 68)"
              >#CodeMirror</span
            >
            <span
              class="badge text-dark"
              style="background-color: rgb(8, 28, 241)"
              >#Testing
            </span>
            <span
              class="badge text-dark"
              style="background-color: rgb(1, 93, 1)"
              >#NodeJs</span
            >
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/IT-Academy-BCN/ita-challenges-frontend"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 5 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/movies.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">Movies Search App</h5>
            <p class="card-text">
              Discover the world of cinema with the Movies Search App, an
              Angular-based platform for movie enthusiasts! Search and explore a
              wide range of films, add favourites to your personalized list, and
              annotate them with your own comments. Ideal for both avid
              cinephiles and casual viewers, our app offers an intuitive,
              user-friendly experience for organizing and enjoying your movie
              collection. Join us and elevate your movie-watching journey!
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger text-dark">#Angular</span>
            <span class="badge bg-info text-dark">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span
              class="badge bg-warning text-dark"
              style="background-color: rgb(93, 24, 1)"
              >#NGX Toastr</span
            >
            <span
              class="badge text-dark"
              style="background-color: rgb(8, 28, 241)"
              >#Testing
            </span>
            <span
              class="badge text-dark"
              style="background-color: rgb(8, 241, 55)"
              >#ZoneJS
            </span>
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/movies-search-app"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 6 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/todolist.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">To Do List</h5>
            <p class="card-text">
              This Angular 17 To-Do List app allows users to manage tasks
              efficiently with features for adding, deleting, and marking tasks
              as completed. It utilizes Angular Material for a rich UI and
              reactive forms for seamless input handling. The app is structured
              with main, header, and task-specific components, each with
              dedicated services for task management. It's designed for
              scalability and maintainability, embodying modern web app best
              practices.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger text-dark">#Angular</span>
            <span class="badge bg-info text-dark">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge text-bg-danger text-dark">#AngularMaterial</span>
            <span
              class="badge text-dark"
              style="background-color: rgb(8, 28, 241)"
              >#Testing
            </span>
            <span class="badge text-dark" style="background-color: violet"
              >#Scss</span
            >
          </div>

          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/to-do-list"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 7 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/hotels.png" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">Hotel Finder App</h5>
            <p class="card-text">
              The Hotel App is a Next.js-based web application for exploring
              Spain's diverse attractions. It offers tailor-made travel
              packages, highlighting Spain's rich culture, historic landmarks,
              and stunning landscapes. Users can immerse themselves in
              experiences from Barcelona's artistic streets to Madrid's grand
              palaces and Torremolinos' sun-kissed beaches. The app features a
              user-friendly interface, built with React, Tailwind CSS, and
              Emotion, and uses a JSON Server for data handling. Ideal for
              planning a dream Spanish adventure, it showcases travel packages
              with detailed descriptions and pricing, providing a comprehensive
              guide for travelers seeking to discover Spain's wonders.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger text-dark">#Angular</span>
            <span class="badge bg-info text-dark">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge bg-primary text-dark">#NextJs</span>
            <span class="badge text-dark" style="background-color: #075ef2"
              >#React</span
            >
            <span class="badge text-dark" style="background-color: #699cf5"
              >#Tailwind CSS</span
            >
            <span class="badge bg-light text-dark">#UI Libraries</span>
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/hotel-finder-app"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>

      <!-- Project 8 -->
      <div class="col">
        <div class="card h-100 bg-secondary text-white">
          <img src="/assets/agua.avif" class="card-img-top" alt="PeeMap" />

          <div class="card-body">
            <h5 class="card-title">Hackathon Jump2Digital 2023</h5>
            <p class="card-text">
              Participating in a 12-hour hackathon, I contributed to developing
              an innovative tech solution, demonstrating my ability to perform
              under pressure. Our project, which secured third place in a
              competitive field, showcased not only my technical skills in
              Angular, TypeScript, CSS, and Github but also my quick
              problem-solving and adaptability. My involvement in
              decision-making, effective collaboration, and agile development
              practices underlines my capacity to contribute significantly to
              projects from concept to completion in dynamic IT environments.
              This experience emphasizes my commitment to innovation, technical
              excellence, and teamwork in the tech industry.
            </p>
          </div>
          <div class="technologies m-3">
            <span class="badge bg-danger text-dark">#Angular</span>
            <span class="badge bg-info text-dark">#TypeScript</span>
            <span class="badge bg-warning text-dark">#Bootstrap</span>
            <span class="badge bg-primary text-dark">#RxJS</span>
            <span
              class="badge text-dark"
              style="background-color: rgb(8, 28, 241)"
              >#Testing
            </span>
            <span
              class="badge text-dark"
              style="background-color: rgb(8, 241, 55)"
              >#ZoneJS
            </span>
            <span class="badge text-dark" style="background-color: blue"
              >#Css</span
            >
          </div>
          <div class="card-footer">
            <a
              href="https://github.com/valerioprds/Hackathon-Jump2Digital-2023"
              class="btn btn-success fw-bold"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
